body {
  color: lightgrey;
}

.octodex {
}

.octocat {
  display: inline-block;
}

.octocat img {
  width: 650px;
  border: 3px solid lightgrey;
}

.image-footer {
  border-bottom-width: 30px;
  border-bottom-color: red;
}

.image-number {

}

.image-caption {

}

.authors img {
  width: 40px;
  border-width: 0;
  border-radius: ;
}
