.octodex {

}

img {
  border: 3px solid lightgrey;
  border-radius: ;
}

.image-footer {
  border-bottom-width: 30px;
  border-bottom-color: red;
}

.image-number {

}

.image-caption {

}

.authors {
  border: 0;
  border-radius: ;
}
